.about__content {
  padding: 24px 0 80px;
}

.about__general {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0 0 40px;
}

.about__general-info {
  max-width: 670px;
}

.about__general-title {
  margin: 0 0 24px;
  font-size: 40px;
  text-transform: uppercase;
  color: #c3073f;
}

.about__general-text {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0.02em;
}

.about__general-image {
  height: 500px;
  width: 675px;
  border-radius: 16px;
}

.about__achievements {
  padding: 0 0 40px;
}

.about__achievements-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.about__achievements-card {
  margin: 0 0 32px;
  width: 350px;
}

.about__achievements-highlite {
  margin: 0 0 4px;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #950740;
}

.about__achievements-text {
  margin: 0;
  text-align: center;
  font-weight: 200;
}

.about__subtitle {
  margin: 0 0 22px;
  font-size: 28px;
  text-transform: uppercase;
  color: #c3073f;
}

.about__text {
  margin: 0 0 16px;
  font-size: 18px;
  font-weight: 200;
}

.about__table {
  margin-bottom: 22px;
}