.footer {
  background-color: #25252B;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  height: 128px;
  padding: 24px 0;
}

.footer__contact {
  display: flex;
  flex-direction: column;
}

.footer__contact-name {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 300;
  color: #717171;
}

.footer__contact-phone {
  font-size: 24px;
  font-weight: 500;
}

.footer__social {
  display: flex;
  gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social-icon {
  border-radius: 50%;
}