.table {
  border: none;
  border-collapse: collapse; 
  width: 100%;
  text-align: left;
  background-color: #2D2D35;
}

.table__header {
  background-color: #6f2232;
}

.table__row {
  border-bottom: 1px solid #4E4E50;
}

.table__row--header {
  border: none;
}

.table__cell {
  border: none;
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 200;
}

.table__cell--header {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}